.WeatherInfo {
  margin-top: 20px;
  color: black;
}

.WeatherInfo .temperature-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.WeatherInfo .temperature-wrapper {
  display: flex;
  align-items: baseline; /* Ensures proper vertical alignment */
}

.WeatherInfo .temperature {
  font-size: 2rem; /* Adjust as needed */
  line-height: 1;
  display: inline-block;
  vertical-align: middle; /* Aligns the temperature vertically to the middle */
}

.WeatherInfo .unit {
  font-size: 1.5rem; /* Adjust for desktop view */
  line-height: 1;
  margin-left: 5px; /* Adds some space between the temperature and the unit */
  display: inline-block;
  vertical-align: middle; /* Aligns the unit vertically to the middle */
}

@media (max-width: 768px) {
  .WeatherInfo .row {
    flex-direction: column;
    align-items: center;
  }

  .WeatherInfo .col-6 {
    width: 100%;
    text-align: center;
  }

  .WeatherInfo .temperature-container {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .WeatherInfo .temperature-container {
    flex-direction: column;
    margin-top: 10px;
  }

  .WeatherInfo .temperature-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: baseline; /* Ensures proper vertical alignment */
  }

  .WeatherInfo .temperature {
    font-size: 2rem; /* Ensures temperature stays the same size */
  }

  .WeatherInfo .unit {
    font-size: 1rem; /* Smaller font size for mobile view */
    margin-left: 5px; /* Adds some space between the temperature and the unit */
  }
}


   

