.WeatherForecast {
  margin-top: 30px; /* Abstand zur Stadt */
}

.WeatherForecast-day {
  font-weight: bold;
  margin-bottom: 5px;
}

.WeatherForecast-icon img {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto; /* Bild zentriert ausrichten */
}

.WeatherForecast-temperatures {
  margin-top: 5px;
}
